body {
    background-color: #e9efe7;
    scroll-behavior: smooth;
    margin: 0; 
    padding: 0; 
}



.btn {
    display: inline-block; /* Permet le style de bouton */
    padding: 10px 20px; /* Espacement interne */
    background-color: #ffffff; /* Couleur de fond (bleu par défaut) */
    color: rgb(0, 0, 0); /* Texte en blanc */
    text-decoration: none; /* Supprime le soulignement */
    border-radius: 25px;
    cursor: pointer;
    border: 2px solid black;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.3s; /* Animation pour le hover */
}

.contactez {
    color: white;
    font-size: 2em;
    text-align: center; /* Centre le texte horizontalement */
    margin: 0;
    margin-bottom: 30px; /* Évite un marges supplémentaires par défaut autour du h1 */
}

.button-container {
    display: flex;
    justify-content: center; /* Centre les boutons horizontalement */
    gap: 20px; /* Espace entre les boutons */
    margin-bottom: 30px; /* Un peu d'espace sous les boutons */
}



.headpic {
    width: 160px;
    height: 160px;
    float: left;
    object-fit: cover; 
    border-radius: 50%;
 
        margin: 0;
}


header nav {
    display: flex;
    justify-content: space-between; /* Sépare les groupes gauche et droite */
    align-items: center; /* Centre les éléments verticalement */
    padding: 0;
    margin: 0;
}

.nav-left {
    display: flex;
    align-items: center; /* Centre verticalement l'image et le texte */
    gap: 10px; /* Espace entre l'image et le texte */
}

.principal li {
    display: inline;
    margin: 0 10px;
}


.principal a {
    text-decoration: none;
    font-family: "Annie Use Your Telescope", cursive;
    color: #000000;
    font-size: 1.9em;
}


.principal a:hover {
    color: #af39bc;
}


/* Section accueil */
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}



h1 {


    font-family: "barriecito";
       font-size: 4.5em;
    color: #000000;
    text-align: left;
    margin-bottom: 10px;
    bottom: 20px; 
    animation: fadeIn 2s ease-in-out, glow 1.5s infinite alternate;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes glow {
    from {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff;
    }
    to {
        text-shadow: 0 0 20px #ff69b4, 0 0 30px #ff69b4;
    }
}



.nav-right {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Aligne les éléments à droite */
}

.logotype {
    font-family: "barriecito";
    font-size: 1.5em;
    margin: 0; /* Supprime toute marge */
    color: #000;
}

.accueil {
    display: flex; /* Utilise Flexbox pour aligner les éléments */
    flex-wrap: wrap; /* Permet de passer à la ligne sur les petits écrans */
    gap: 10px; /* Espace entre les éléments */
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    padding: 10px;
    height: calc(100vh - 80px);
    box-sizing: border-box;
}

.ac {
    display: block;
    margin: 0 auto;
    width: 300px;
    animation: float 3s ease-in-out infinite;
  }
  
  @keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }






.title1 {
    font-family: "barriecito";
    font-size: 3.5em;
    color: #000000;
    text-align: center;
}


.text-content {
    text-align: left;
    justify-content: left;
    max-width: 20%;
}




.ligne-portfolio {
    width: 40%;
    border: none;
    height: 2px;
    background-color: black;
    margin: 10px auto;
}






.cv {
    display: inline-block;
    margin: 20px auto; /* Centrage horizontal */
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    background-color: #CB6EB5;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    position: relative;
    cursor: pointer;
    bottom: 20px; /* Remonte légèrement par rapport au bas */
}


.cv:hover {
    background-color: #c9f7ff;
    transition: 0.3s;
}
/* Biographie section */
.biographie {
    background-color: #E3B1CE;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Espace entre les sections */
}


.qui {
    font-family: "barriecito";
    font-size: 1.8em;
    color: black;
    margin-bottom: 50px;
    text-align: center;
}


.biographie img.black {
    margin-right: 20px;
    float: left;
    height: auto;
}
.biographie .content {
    display: flex;
   
   
    justify-content: space-between; /* Espace entre les éléments */
   
    gap: 20px; /* Espace entre l'image et le texte */
}




.biographie .moi {
    max-width: 900px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
    align-items: left;
    justify-content: left;
    font-size: 0.9rem;
    text-align: center;
    padding: 10px;
    margin: 10px auto;
    font-size: 1rem;
    
}




.photo {
    width: 200px;
    height: 200px;
    justify-content: left;
    align-items: left;
    max-width: 900px;
    margin-left: 40px;
    height: auto;




   
}


.drawing{
    background-image: url("img/pro.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}




/* Avis */
.avis {
   background-color: #CD92B4;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Espace entre les sections */
}


/* Titre des avis */
.title {
    font-family: "barriecito";
    text-align: right;
    font-size: 3.7em;
    margin-bottom: 5px;
}


.port {
    color: #840E60;
    font-family: "Annie Use Your Telescope", cursive;
    margin: 5px;
    font-size: 4.5em;
    text-align: left;
    justify-content: flex-start;
    margin-RIGHT: 140px;
}


/* Pied de page */
.foot {
    font-family: "Poppins";
}


.box {
    background-color: #eaeaea;
    margin: 20px;
    padding: 10px;
    width: 170px;
    display: inline-block;
    text-align: center;
    height: 20px;
    font-size: 1em;
    font-family: "Poppins";
}
.box1 {
    background-color: #D9D9D9;
    margin: 20px;
    padding: 10px;
    width: 170px;
    display: inline-block;
    text-align: center;
    height: 20px;
    font-size: 1em;
    font-family: "Poppins";
}


.box2 {
    background-color: #ffb0c9;
    margin: 20px;
    padding: 10px;
    width: 470px;
    display: inline-block;
    text-align: center;
    height: 20px;
    font-size: 1em;
    font-family: "Poppins";
}


.box3 {
    background-color: #D9D9D9;
    margin: 20px;
    padding: 10px;
    width: 190px;
    display: inline-block;
    text-align: center;
    height: 30px;
    font-size: 1em;
    font-family: "Poppins";
}


.boxtexte {
    background-color: #D9D9D9; /* Couleur de fond */
    padding: 20px; /* Espaces internes */
    margin: 20px auto; /* Ajoute un espace autour et centre horizontalement */
    display: inline-block;
    text-align: center;
    width: 400px; /* Largeur fixe */
    max-width: 90%; /* Largeur relative au conteneur */
    font-size: 1em;
    font-family: "Poppins";
    word-wrap: break-word; /* Permet de casser les mots longs */
    margin-bottom: 12px;
}








.recherche{
    background: linear-gradient(90deg, #F2B8C7 0%, #C9C4D9 100%);
}


footer {
    background-color: #000000;
    text-align: center;
    padding: 10px;
    font-family: "Poppins";
    font-size: 1.2em;
    color: #ffffff;
    justify-content: center;
}


.description {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
}


.mooi {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}


.moi {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
    align-items: left;
    justify-content: left;
    margin: auto;
    max-width: 700px;
    line-height: 1.4;
}

.moi2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
    align-items: left;
    justify-content: left;
    margin: 20px auto; /* Plus d'espace extérieur */
    max-width: 700px;
    padding: 20px; /* Plus d'espace intérieur */
    line-height: 1.6; /* Amélioration de l'espacement entre les lignes */
    font-size: 1.2em;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
}

/* Dégradé */
.gradient {
    background: linear-gradient(90deg, #F2B8C7 0%, #C9C4D9 100%);
    text-align: center;
    width: 80%;
    max-width: 700px;
    margin: 0 auto;
    flex: 1;
    padding: 5;
    border: 1px solid black;
    border-radius: 5px;
}


/* Animation */
@keyframes floating {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}


.images-container img {
    width: 200px;
    height: auto;
}


.images-container {
    flex: 0 1 calc(33.33% - 20px);
    margin: 10px;
    text-align: center;
}


.images-container section {
    text-align: center;
    margin: 10px;
}


.images-container a {
    margin: 10px;
}


.projects .images-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 20px;
   
}


.project-image {
    width: 100%;
    transition: transform 0.4s ease-in-out;
    cursor: pointer;
  }
  
  .project-image:hover {
    transform: scale(1.05) rotate(3deg);
  }


/* Ajustement pour les petits écrans : 2 images par ligne */
@media (max-width: 768px) {
    .projects .images-container {
        grid-template-columns: repeat(2, 1fr); /* 2 colonnes sur les petits écrans */
    }
    .project-image {
        width: 60%; /* Augmente légèrement la taille sur les petits écrans */
    }
}


/* Ajustement pour très petits écrans : 1 image par ligne */
@media (max-width: 480px) {
    .projects .images-container {
        grid-template-columns: 1fr; /* 1 colonne sur les très petits écrans */
    }
    .project-image {
        width: 80%; /* Les images seront plus grandes sur les très petits écrans */
    }
}








.close {
    font-size: 24px; /* Assure une bonne visibilité */
    font-weight: bold;
    color: black; /* Couleur de la croix */
    cursor: pointer; /* Indique que c'est cliquable */
    position: absolute; /* Position pour placer dans le coin de la fenêtre */
    top: 10px; /* Ajuste selon l'apparence souhaitée */
    right: 10px; /* Ajuste selon l'apparence souhaitée */
    z-index: 1000; /* Assure qu'elle reste au-dessus */
}


.close:hover {
    color: #af39bc;
}
#caption {
    margin: auto;
    display: block;
    text-align: center;
    color: white;
    padding: 10px 0;
    height: 150px;
}


.affiche {
    height: 300px;
    width: 250px;
}


.contact {
    background-color: #9b3571;
}


.black {
    background-color: #000000;
}
.reviews-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
  }


 
  .review {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 0 10px 20px;
  margin-bottom: 20px;
  padding: 30px;
   
  background-color: rgb(215, 215, 215);
  }
 
  .review-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
 
  .review-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
     margin-top: 20px;
     margin-left: 10px;
  }
 
  .review-user {
    font-weight: bold;
    font-family:"Poppins";
    margin-right: 10px;
    color:black;
    margin-left: 10px;
  }
 
  .review-rating {
    font-size: 20px;
    color: #f8b739;
  }
 


  .review-content p {
    font-size: 0.8rem;
    line-height: 1.9;
   color: #000000;
  }


  .nom {
    display: block;
font-family: "Poppins";
    color: black;
    margin-bottom: 12px;
    text-align: center;
    font-size: 1.5em;
  }


  .nom1 {
    display: block;
font-family: "Poppins";
    color: rgb(255, 0, 0);
    margin-bottom: 12px;
    text-align: center;
    font-size: 1rem;
  }




  .opq{
    width: 700px;
    width: 700px;
 
  }


  .compé {
    max-width: 50%;
    height: auto;
 
    margin: 0 auto;
    margin-left: 25%;
}


    .com {
       
        line-height: 1.3;
        font-size: 0.4;
        max-width: 900px;
        font-family:"Poppins";
        display: block;
        margin-bottom: 12px;
        text-align: center;


    }
    .center {
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center;
        min-height: 50%; 
        margin: auto 0; 
        background-color: #CD92B4;
        padding: 10px; 
        text-align: center;
    }

.popup {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
    z-index: 1000; /* Toujours au-dessus */
    justify-content: center;
    align-items: center;
}


.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px; /* Limiter la largeur du contenu */
    width: 80%; /* Largeur responsive */
    text-align: center;
    position: relative;
    max-height: 80vh; /* Empêcher la pop-up de devenir trop haute */
    overflow-y: auto; /* Permettre un défilement si le contenu est trop long */
}


.popup-content img {
    max-width: 100%; /* Réduire l'image pour qu'elle s'adapte bien */
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
    max-height: 300px; /* Limiter la hauteur de l'image */
}


.popup-content h2 {
    font-family: "barriecito", sans-serif;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}


.popup-content p {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}


.popup-content a {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #af39bc;
    text-decoration: none;
    font-weight: bold;
}


.popup-content a:hover {
    color: #840e60; /* Couleur de survol du lien */
}


.competences1{
    background: linear-gradient(180deg, #EFEFE7 0%, #FFD0E4 100%);
}
.competences p,
.competences div {
    margin: 0;
    padding: 0;
}


.competences{
    margin-top: 20px;
    padding-top: 20px;
    position: relative;
    gap: 20px;
   
}


.float-img {
    float: right; /* Fait flotter l'image à droite */
    margin-left: 20px; /* Ajoute un espace entre l'image et les textes ou boîtes */
    margin-bottom: 20px; /* Ajoute un espace sous l'image */
    width: 150px; /* Ajustez la largeur de l'image selon vos besoins */
    height: auto; /* Garde le ratio d'aspect de l'image */
}


.popup-resaweb .popup-content {
    background-color: #ffe0e0;
     /* Fond rose clair pour "Résaweb" */
}


.popup-interview .popup-content {
    background-color: #ffe0e0;
    justify-content: left; /* Fond rose clair pour "Interview" */
}


.popup-refonte .popup-content {
    background-color: #ffe0e0;  /* Fond bleu clair pour "Refonte d'un site" */
}


.popup-journal .popup-content {
    background-color: #ffe0e0;  /* Fond jaune clair pour "Journal de quartier" */
}


.popup-leporello .popup-content {
    background-color: #ffe0e0;  /* Fond vert clair pour "Leporello" */
}

.popup-content p {
    margin: 10px 0;
    font-size: 16px;
    color: black; /* Couleur secondaire du texte */
    font-family: 'Poppins', sans-serif;
    text-align: left;
}




.popup-dessin .popup-content {
    background-color: #ffe0e0;
   
    font-family: 'Poppins', sans-serif;/* Fond violet clair pour "Dessin Numérique" */
}


.scroll-button {
    position: absolute;
    bottom: -30px; /* Distance du bas de la section */
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: black;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    
}


.scroll-button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}
